<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->
<!-- FOOTER -->
<footer class="footer ">
    <div class="container">
      <div class="row footer-top">
        <div class="col-md-6 col-lg-6">
          <h4>
            <img src="/static/images/gzh.jpg" class="img-thumbnail " style="height:100px;width:100px" />
          </h4>
          <p>公众号提供搜索</p>
        </div>
        <div class="col-md-6  col-lg-5 col-lg-offset-1">
          <div class="row about">
           
            <div class="col-sm-3">
              <h4>联系方式</h4>
              <ul class="list-unstyled">
                <li><a href="https://weibo.com/u/5678450682" title="walksmile微博" target="_blank">新浪微博</a></li>
                <li><a href="mailto:hongshj@163.com">电子邮件</a></li>
              </ul>
            </div>
            <div class="col-sm-3">
              <h4>其他作品</h4>
              <ul class="list-unstyled">
                <li><a href="http://www.ettren.cn/" target="_blank">淘宝优惠券</a></li>
               
              </ul>
            </div>

            <div class="col-sm-3">
                <h4>关于</h4>
                <ul class="list-unstyled">
                  <li><a href="#">关于我们</a></li>
                  <li><a href="#">广告合作</a></li>
                  <li><a href="#">友情链接</a></li>
                </ul>
              </div>
            <!-- <div class="col-sm-2">
              <h4>赞助商</h4>
              <ul class="list-unstyled">
                <li><a href="#" target="_blank">求赞助</a></li>
              </ul>
            </div> -->
          </div>
  
        </div>
      </div>
      <hr>
      <div class="row footer-bottom">
        <ul class="list-inline text-center">
          <li>Copyright©2015-2018 行笑网(WalkSmile.Com)</li><li>行笑网不存储任何网盘内容，只提供信息检索服务。如果有侵犯的地方，联系我们及时整改</li>
        </ul>
      </div>
    </div>
  </footer>
